In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
dirpath = r"..\..\Final_factor_287\all_save_data_II"
filenames = []
areacode = r"..\..\Final_factor_287\areacode_selected.xlsx"
for file in os.listdir(dirpath):
    filenames.append(file[:-4])
df1 = pd.DataFrame(filenames,columns=["LAD20NM"])
df2 = pd.read_excel(areacode)
df = df2.merge(df1,on="LAD20NM",how="right")

In [3]:
df

       LAD20CD       LAD20NM
0    E07000223          Adur
1    E07000026     Allerdale
2    E07000032  Amber Valley
3    E07000224          Arun
4    E07000170      Ashfield
..         ...           ...
246  E07000229      Worthing
247  E07000238      Wychavon
248  E07000239   Wyre Forest
249  E07000128          Wyre
250  E06000014          York

[251 rows x 2 columns]

In [11]:
df.to_csv(r"..\..\Final_factor_287\areacode.csv")