In [1]:
import numpy as np
import pandas as pd

In [6]:
path = r"..\..\data\af_allcity_dlt(1).csv"
df = pd.read_csv(path)
df

           LAD20NM  temperature  humidity  windspeed        UV  totalarrival
0             Adur     0.122504  0.104326   0.333976 -0.091563      0.595159
1        Allerdale     0.072478       NaN   0.105532 -0.153756      0.732067
2     Amber Valley     0.149983  0.055239  -0.070903 -0.050332      0.045053
3             Arun     0.084421  0.223189   0.240039 -0.016405      0.252511
4         Ashfield     0.105560       NaN  -0.024130 -0.311607      0.216898
..             ...          ...       ...        ...       ...           ...
257  Wolverhampton     0.155715 -0.091398   0.274346 -0.161525      0.514262
258       Worthing     0.161227       NaN  -0.073748  0.091198      0.021390
259       Wychavon    -0.118704  0.259111   0.001954  0.227642     -0.206812
260    Wyre Forest     0.192087       NaN   0.097085 -0.007959      0.526188
261           York          NaN  0.221249   0.055575 -0.064435      0.019689

[262 rows x 6 columns]

In [3]:
df.dtypes

LAD20NM          object
temp            float64
humi            float64
wind            float64
UV               object
totalarrival    float64
dtype: object

In [7]:
df.to_csv(r"..\..\data\af_allcity_dlt1.csv")