In [1]:
import numpy as np
import pandas as pd

In [17]:
pordf = pd.read_csv("../processed/proportion.csv",index_col = "date")
basedf = pd.read_csv("../data/death.csv",usecols= ["date","newDeaths28DaysByDeathDate"],index_col = "date")

In [7]:
pordf

,Alpha,Beta,Delta,Eta,Gamma,Kappa,Theta,Zeta,Lambda,Mu,Omicron,Omicron - BA2,XE,Omicron - BA4,Omicron - BA5,Other
date,,,,,,,,,,,,,,,,
31/01/2021,0.950570,0.001359,0.0,0.001672,0.000000,0.0,0.0,0.000105,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.045668
01/02/2021,0.952283,0.001488,0.0,0.001681,0.000011,0.0,0.0,0.000090,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.043772
02/02/2021,0.953995,0.001616,0.0,0.001689,0.000022,0.0,0.0,0.000075,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.041875
03/02/2021,0.955708,0.001745,0.0,0.001698,0.000032,0.0,0.0,0.000060,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.039979
04/02/2021,0.957420,0.001874,0.0,0.001707,0.000043,0.0,0.0,0.000045,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.038083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
08/06/2022,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000227,0.417755,0.00068,0.210957,0.367435,0.002947
09/06/2022,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000170,0.407066,0.00051,0.220717,0.369326,0.002210
10/06/2022,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000113,0.396377,0.00034,0.230478,0.371217,0.001473
11/06/2022,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000057,0.385689,0.00017,0.240239,0.373109,0.000737
12/06/2022,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.375000,0.00000,0.250000,0.375000,0.000000

In [18]:
basedf

            newDeaths28DaysByDeathDate
date
02/03/2020                           1
03/03/2020                           2
04/03/2020                           0
05/03/2020                           3
06/03/2020                           0
...                                ...
30/06/2022                          67
01/07/2022                          64
02/07/2022                          62
03/07/2022                          49
04/07/2022                          22

[855 rows x 1 columns]

In [19]:
for dt in pordf.index:
    new = basedf.loc[dt][0]
    pordf.loc[dt] = round(pordf.loc[dt]*new,0)
pordf

,Alpha,Beta,Delta,Eta,Gamma,Kappa,Theta,Zeta,Lambda,Mu,Omicron,Omicron - BA2,XE,Omicron - BA4,Omicron - BA5,Other
date,,,,,,,,,,,,,,,,
31/01/2021,773.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37.0
01/02/2021,771.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.0
02/02/2021,728.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0
03/02/2021,749.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0
04/02/2021,624.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
08/06/2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,9.0,15.0,0.0
09/06/2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,8.0,13.0,0.0
10/06/2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,12.0,19.0,0.0
11/06/2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,0.0,10.0,16.0,0.0
12/06/2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,8.0,11.0,0.0

In [20]:
pordf.to_csv("../processed/variantdeath.csv")